@import 'sass/colors';
@import 'sass/typography';
@import 'sass/header';
@import 'sass/container';
@import 'sass/author';
@import 'sass/social';
@import 'sass/location';
@import 'sass/article';
@import 'sass/mobile-menu';

html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.625;
}
